/* Add padding to target sections to avoid being hidden behind navbar */
h1 {
  padding-top: 60px; /* Adjust as needed */
  text-align: center; /* Center align the headers */
}

p {
  text-align: center;
}
/* New CSS for horizontal layout and centered positioning */
.horizontal-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.horizontal-cards .card {
  margin: 0px 100px 0px 100px;
}
.flex-container {
  display: flex;
}

.flex-item-text {
  flex: 2;
  padding: 20px; /* Adjust as needed */
}

.flex-item-image {
  flex: 1;
}

/* Optional: Make the image responsive */
.flex-item-image img {
  max-width: 100%;
  height: auto;
}

.smaller-image {
  width: 50%;
}
